body {
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-top: 1em;
    font-size: 3em;
    color: #8EC07C;
    background-color: rgb(40,40,40);
    
    app-list {
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #8EC07C;
            text-decoration: none;
            cursor: pointer;
        }
    }
    
}