body {
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-top: 1em;
    font-size: 3em;
    color: rgb(152,151,54);
    background-color: rgb(40,40,40);
    
    app-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1em;
        a {
            color: #8EC07C;
            text-decoration: none;
        }
    }
    
}